.favorite-books ul {
  list-style-type: none;
  padding: 0;
}

.favorite-books li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.favorite-books b {
  font-weight: bold;
  color: #333;
}

.favorite-books li b + span {
  font-weight: normal;
  color: #666;
  margin-left: 5px;
}
